
body {
    background-color: black;
    max-width: 100ch;
    margin: 1rem auto;
}

main {
    font-family: sans-serif;
    color: hotpink;
    padding: 1rem;
}

h1 {
    text-align: center;
}

div.subtitle {
    text-align: center;
    font-style: italic;
}

a:link {
    color: skyblue;
}

a:visited {
    color: gray;
}

section {
    margin-top: 2ch;
    border-top: 2ch double mediumvioletred;
}

section img {
    display: block;
    border: 2ch double mediumvioletred;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
