
body {
    background-image: url('images/magenta-tile-4.png');
    max-width: min(90vw, 40rem);
    margin: 1rem auto;
}

main {
    font-family: sans-serif;
    background-color: black;
    color: hotpink;
    border: 1rem double purple;
    padding: 1rem;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-style: italic;
}

a:link {
    color: skyblue
}

a:visited {
    color: gray
}
