@import 'xkcd.css';

:root {
    --background: black;
    --foreground: var(--xkcd-light-grey);
    --link: var(--xkcd-steel-blue);

    font-family: sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    max-width: 100ch;
    margin: auto;
    padding: 1rem;
}

a {
    color: var(--link);
}

section.level2 {
    margin-top: 2ch;
    border-top: 1.5ch double var(--xkcd-magenta);
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline;
}

nav li + li:before {
    content: " | ";
}

section img {
    display: block;
    border: 1.5ch double;
    margin-left: auto;
    margin-right: auto;
    max-height: 40ch;
}

.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery img {
    border: 0.5ch solid;
    margin: 1ch;
    width: 12ch;
}
